{% extends 'layout.html'%}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{% endblock%}

{% block scrip%}
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.colVis.min.js') }}"></script>

{% endblock%}

{%block body%}<div class="container">
  <h4 class="text-center">Peraionak INFO</h4>
  <br>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>时间</th>
          <th>通道1</th>
          <th>通道2</th>
          <th>通道3</th>
          <th>通道4</th>
        </tr>
      <thead>
      <tbody>
        {% for data in data %}
        <tr>
          <td>{{ data[0] }}</td>
          <td>{{ data[1] }}</td>
          <td>{{ data[2] }}</td>
          <td>{{ data[3] }}</td>
          <td>{{ data[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>



<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            lengthChange: false,

            buttons: [ 'copy', 'excel', 'csv','pdf', 'colvis' ]
        } );

        table.buttons().container()
            .appendTo( '#example_wrapper .col-sm-6:eq(0)' );
    } );
</script>

{% endblock %}